@charset "utf-8";
/* CSS Document */
body {
	margin: 0;
	padding: 0;
	background-color: #E73C74;
}
.title {
	font-weight: 700;
	font-family: passion-one;
	font-style: normal;
	font-size: 36px;
}
.content p {
	font-family: love-ya-like-a-sister;
	font-style: normal;
	font-weight: 400;
	text-align: center;
}
.center {
	margin: auto;
	width: 500px;

}
